<% @coupons.each do |coupon| %>
  <section id="coupon-<%= coupon.id %>">
    <%= link_to coupon.name, "/merchant/coupons/#{coupon.id}" %>
    <%= coupon.code %>
    <%= coupon.percentage %>

    <%= button_to "Delete Coupon" %>
  </section>
<% end %>

<%= button_to "Add A Coupon", "/merchant/coupons/new", method: :get %>
