<h1 align = "center">Merchant</h1>
<%= current_user.merchant.name %></br></br>
<%= current_user.merchant.address %>
<p><%= current_user.merchant.city %>
<%= current_user.merchant.state %>
<%= current_user.merchant.zip %></p>
<%= link_to "See My Items", "/merchant/items" %>

<% @orders.each do |order| %>
<% if order.current_status == "pending" %>
<section id = "pending-<%= order.id %>">
  <p>ID: <%= link_to "#{order.id}", "/merchant/orders/#{order.id}" %></p>
  <p>Order Created: <%= order.created_at %></p>
  <p>Quantity of my items in this order: <%= order.merchant_item_quantity(current_user.merchant) %></p>
  <p>Value of my items in this order: <%= number_to_currency(order.merchant_item_total(current_user.merchant)) %></p>
</section>
<% end %>
<% end %>
