<h1>Add New Item to Your Shop </h1>

<center>
  <%= form_tag "/merchant/items", method: :post do %>
    <%= label_tag :name %>
    <%= text_field_tag :name%>

    <%= label_tag :description %>
    <%= text_field_tag :description %>

    <%= label_tag :price %>
    <%= text_field_tag :price %>

    <%= label_tag :image %>
    <%= text_field_tag :image, 'https://literalminded.files.wordpress.com/2010/11/image-unavailable1.png' %>

    <%= label_tag :inventory %>
    <%= text_field_tag :inventory %>

    <%= submit_tag 'Create Item' %>
  <% end %>
</center>
