<%= link_to "Monster Shop", "/" %>
<%= link_to "Admin Dashboard", "/admin" %>
<%= link_to "All Users", "/admin/users" %>
<%= link_to "All Merchants", "/admin/merchants"%>
<%= link_to "All Items", "/items"%>

<section class ="top-nav-right">
<%= link_to "Profile", "/profile" %>
<%= link_to "Log Out", '/logout', method: :delete %>
</section>

<p>Logged in as <%= "#{current_user.name}" %></p>


