<%= link_to "Monster Shop", "/" %>
<%= link_to "All Merchants", "/merchants"%>
<%= link_to "All Items", "/items"%>

<section class ="top-nav-right">
<%= link_to "Cart: #{cart.total_items}", "/cart" %>
<%= link_to "Login", "/login"%>
<%= link_to "Register", "/register"%>
</section>
