<h1 align = "center">Merchant Dashboard</h1>
<%= @merchant.name %></br></br>
<%= @merchant.address %>
<p><%= @merchant.city %>
<%= @merchant.state %>
<%= @merchant.zip %></p>
<h2> Pending Orders </h2>
<% @merchant.orders.distinct.each do |order| %>
  <% if order.current_status == "pending" %>
    <section id ="order-pending-<%= order.id %>">
      ID: <%= order.id %><br>
      Date Created: <%= order.created_at %><br>
      Total Quantity: <%= order.items.count %><br>
      Total: <%= order.grandtotal %><br><br>
    </section>


  <% end %>
<% end %>
