<h1><%= @user.name %>'s Orders</h1>

<% @user.orders.each do |order| %>
  <section class="shipping-address">
      <ul>
        <li><b>Order ID:</b> <%= link_to "#{order.id}", "/profile/orders/#{order.id}" %></li>
        <li><b>Name on Order:</b> <%= order.name %></li>
        <li><b>Address:</b> <%= order.address %>, <%= order.city %>,
          <%= order.state %> <%= order.zip %></li>
        <li><b>Order Status:</b> <%=order.current_status.upcase%></li>
      </ul>
  </section>
    <% order.item_orders.each do |item_order| %>
  <section id="item-<%= item_order.item.id %>">
    <ul>
      <li><b>Item Purchased: </b><%= link_to "#{item_order.item.name}", "/items/#{item_order.item.id}" %></li>
      <li><b>Store Name: </b><%= link_to "#{item_order.item.merchant.name}", "merchants/#{item_order.item.merchant.id}" %></li>
      <li><b>Price: </b><%= number_to_currency(item_order.price) %></li>
      <li><b>Quantity: </b><%= item_order.quantity %></li>
      <li><b>Subtotal for Item(s) Purchased: </b> <%= number_to_currency(item_order.subtotal) %></li>
    </ul>
  </section>
  <% end %>
  <center><b>Number of Items in This Order: </b><%= order.items.count %>
  <section id="grandtotal">
    <b>Grand Total: </b><%= number_to_currency(order.grandtotal.to_i) %></center>
  </section>

  <center><section id="datecreated">
    <b>Order Created On: </b><%= order.created_at %></br>
    <b>Order Last Updated On: </b><%=order.updated_at%>
  </section></center>
<% end %>
