<h1>Merchant Items Page</h1>

<center><h2><%= link_to "Add New Item", "/merchant/items/new"%></h2></center>

<%= @items.each do |item| %>
<section id="item-<%=item.id%>">
  <%=  item.name %>
  <%=  item.description %>
  Price: <%=  number_to_currency(item.price) %>
  <%=  image_tag(item.image) %>
  <% if item.active? %>
    <p>Active</p>
    <%= button_to "Deactivate", "/merchant/items/#{item.id}", method: :patch %>
  <% else %>
    <p>Inactive</p>
    <%= button_to "Activate", "/merchant/items/#{item.id}", method: :patch %>
  <% end %>
  Inventory: <%= item.inventory %>
  <% if item.no_orders? %>
    <%= link_to "Delete Item", "/merchant/items/#{item.id}", method: :delete %>
  <% end %>
</section>
<% end %>
