<h1>Order <%= @order.id %></h1>

<h3><%= @order.user.name %></h3>
<h3><%= @order.user.address %></h3>
  <h3><%= @order.user.city %>
      <%= @order.user.state %>
      <%= @order.user.zip_code %></h3>

<% @order.items.each do |item| %>
<section id="item-<%= item.id%>">
  <%= item.name %>
  <%= image_tag(item.image) %>
  <%= item.price %>
</section>
  <% end %>
